.about-me {
    margin: 0;
    background: #c7c7c7;
    min-height: 90vh;
    text-align: center;

    &__title {
        margin: 64px;
        font-size: 48px;
        text-align: center;
    }

    &--wrap {
        max-width: 1024px;
        margin: 0 auto;
    }
}



.container {
    margin: 64px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    column-gap: 6vw;
    row-gap: 4vw;



    &__wrap {
        width: 100%;
        height: 200px;
        position: relative;
        transition: transform .4s linear;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        &:hover {
            box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.91);


        }
    }

    &__item {

        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 100%;
        transition: transform .4s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            transform: scale(1.1);
        }

        &--1 {
            background-image: url(../assets/tennis.jpg);
        }

        &--2 {
            background-image: url(../assets/mot.jpg);
        }

        &--3 {
            background-image: url(../assets/tennis.jpg);
        }

        &--4 {
            background-image: url(../assets/tennis.jpg);
        }


        &--txt {
            color: whitesmoke;
            font-size: 32px;
            opacity: 0;
            transition: opacity .4s ease-in-out;
        }

        &:hover &--txt {
            opacity: 1;
        }



        &::after {
            content: "";
            width: 100%;
            height: 100%;
            background: black;
            position: absolute;
            top: 0;
            left: 0;
            transition: opacity .3s ease-in-out;
            z-index: -1;
            opacity: 0;
        }

        &:hover::after {
            opacity: .5;
        }


    }

}