.skills {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    width: 100%;

    &__heading {
        margin: 42px 0 164px;
        font-size: 48px;
        text-align: center;
        width: 100%;
        height: 48px;

        @media(max-width: 768px) {
            font-size: 40px;
            margin: 36px 0 90px;
        }
    }

    &__wrapper {
        font-size: 26px;
        // margin: 12px auto;
        // max-width: 1224px;
        display: flex;
        justify-content: space-evenly;

        @media(max-width:425px) {
            flex-wrap: wrap;

        }

    }

}

.skill {
    display: flex;
    padding: 20px 10px;
    flex-direction: column;
    width: 26vw;
    justify-content: space-around;
    margin: 0 24px 36px;
    transition: box-shadow .4s ease-in-out,
        transform .4s ease-in-out;
    box-shadow: 0px 0px 3px 3px rgba(86, 86, 86, 0.1);

    @media(max-width:425px) {
        width: 80vw;

        margin: 0 24px 50px;
    }


    &:hover {
        box-shadow: 0px 0px 10px 9px rgba(86, 86, 86, 0.46);
        transform: scale(1.1);
    }

    &__emoji {
        padding-bottom: 34px;
        text-align: center;

        &--img {
            height: 80px;
            width: 80px;
        }
    }

    &__title {
        line-height: 56px;
        margin: 0;
        padding-bottom: 30px;
        align-self: center;
        justify-self: start;

        @media(max-width: 768px) {
            font-size: 18px;
            line-height: 28px;
            padding: 4px 0 32px;

        }

        @media(max-width:425px) {
            font-size: 26px;
            line-height: 32px;
            padding: 4px 0 32px;

        }

    }

    &__list {
        line-height: 54px;

        @media(max-width: 768px) {
            font-size: 16px;
        }

        @media(max-width:425px) {
            font-size: 20px;
            line-height: 48px;
        }

    }

    &__items {
        list-style: none;
        display: flex;
        align-items: center;

        &--mark {
            margin-right: 16px;
            height: 20px;
            width: 20px;

        }
    }
}