@import "~normalize.css";

@import "_variables";
@import "modules/header.scss";
@import "modules/about.scss";
@import "modules/skills.scss";
@import "modules/footer.scss";
@import "modules/form.scss";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
    scroll-behavior: smooth;

}

body {
    // background: rgb(238, 215, 215);
    background: rgb(206, 189, 189);
}