@import "~normalize.css";

@import "_variables";
@import "modules/header.scss";
@import "modules/about.scss";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: rgb(238, 215, 215);
}